/*-- GENERALES --*/

*,*::after, *::before {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-color: #F9F9F9;
    max-width: 1400px;
    margin: auto;
}
h3 {
    font-size: 16px;
}
.button-general{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    border: 1px solid transparent;
    min-width: 200px;
    font-weight: 700;
    text-align: center;
    padding: 10px 14px;
    height: 38px;
}
.icons{
    color: white;
    font-size: 25px;
}
.icons:hover{
    color: #bbbaba;
}

/* -- HEADER -- */

.header{
    height: 270px;
}
.header-1{
    padding: 8px 15px;
    height: 50px;
    border-bottom: solid 1px rgb(180, 180, 180, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.color-header-grandient{
    background-image: linear-gradient(rgb(26, 25, 25), rgba(77, 76, 76, 0.5)); 
}
.color-header-grandient:hover{
    background-image: linear-gradient(rgb(14, 18, 26), rgb(77, 112, 172));
    transition: all 5s ease;
}
.header-logo1{
    width: 25px;padding-right: 10px;
}

nav{
    display: flex;
}
nav > a{
    text-decoration: none;
    font-weight: 300;
    color: white;
    padding: 0 10px;
}
nav > a:hover{
color: #bbbaba;
}
.header-input{
    margin: 0 30px;
    background-color: rgba(255,255,255,.3);
    border-radius: 50px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid transparent;
    min-width: 300px;
    font-weight: 700;
    text-align: center;
    height: 38px;
}
.header-input::placeholder { 
    padding: 10px;
    color: white;
    font-weight: 500;
}

.header-button{
    margin-right: 25px;
    background: white;
    color: #191919;
}
.header-button:hover{
    background-color: rgba(148, 148, 148, 0.856);
}
.header-nav3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav3 > *{
    padding: 0 10px;
}
.header-logo2{
    width: 80px;
}

/* -- MAIN --*/
.main{
    position: relative;
    min-height: 1200px;
}
.main-perfil{
    position: absolute;
    top: -150px;
    left: 50px;
    z-index: +5;
    width: 350px;
    min-height: 800px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(75, 75, 75, 0.1);
    border-radius: 3px;
    padding: 30px;
}
.main-user{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.main-user > div{
    background-image: url(./img/imagen-usuario.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.main-user-texto{
    padding: 20px 0;
    text-align: center;
}
.main-user-texto > h2{
    font-size: 2.2rem;
}
.main-user-texto > h4{
    color: #979696;
    margin: 10px;
}
.main-user-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.main-user-texto > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 5px;
}
.main-user-texto > p {
    text-align: justify;
    margin: 10px;
}
.button-main-user{
    background: rgb(30, 56, 207);
    color: #ffffff;
    width: 100%;
    margin: 10px 0;
}
.main-derecha{
    width: 60%;
    padding:20px 15px;
    position: absolute;
    right: 0;
}

.main-galeria{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    row-gap: 50px;
}

.main-galeria > div > img {

    width: 100%;
    border-radius: 3px;
}
.main-derecha-menu{
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-derecha-menu > a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding-right: 25px;
    font-size: 0.9rem;
}
.main-derecha-menu > a:hover{
    color: grey;
}

