*,*::after, *::before {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-color: #F9F9F9;
}
.header{
height: 270px;

}
.color-header-grandient{
    background-image: linear-gradient(rgba(0, 0, 0), rgba(77, 76, 76, 0.5)); 
}
.color-header-grandient:hover{
    background-image: linear-gradient(rgb(14, 18, 26), rgb(77, 112, 172));
    transition: all 5s ease;
}
.header-logo1{
    width: 25px;
    padding: 0 20px;
}
.header-1{
    padding: 8px;
    height: 40px;
    border-bottom: solid 1px rgb(180, 180, 180, 0.5);
    display: flex;

    align-items: center;
}
nav > a{
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding: 0 10px;
}
.header-input{
    border: solid 1px red;
    margin: 0 30px;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,.3);
    border: 1px solid #e8e8e8;
    border-radius: 50px;
    height: 32px;

}
::placeholder { 
    padding: 10px;
    color: white;
    font-weight: 500;
}
.header-button{
    border-radius: 50px;
    background: white;
    border: 2px solid #e8e8e8;
    color: #191919;
    height: 32px;
    margin: 0 40px;
    cursor: pointer;
    font-weight: 600;
    padding: 5px;
}
.main{
    position: relative;
    min-height: 1200px;
}
.main-perfil{
    position: absolute;
    top: -150px;
    left: 50px;
    z-index: +5;
    width: 360px;
    height: 500px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(75, 75, 75, 0.1);
    border-radius: 3px;
}